<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Fitness Club</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">My Fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="#Services">Services</a>
                    </li>
                  
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/managerlogin/">Manager Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/customer-login/">Customer Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/assistantlogin/">Assistant Manager/Instructor Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    

<div class="container mt-5" id="home">
    <h1 class="text-center">Welcome to My Fitness Club</h1>
    <p class="lead text-center">Thank you for visiting our fitness club website. We are committed to helping you achieve your fitness goals and providing top-notch services to our members. Feel free to explore our website and learn more about what we offer.</p>
</div>


<div class="container mt-5" id="Services">
    <h1 class="text-center">Our Services</h1>
</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/closeup-portrait-muscular-man-workout-barbell-gym-brutal-bodybuilder-athletic-six-pack-perfect-abs-shoulders-55122231.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Provide Workouts</h5>
                    <p class="card-text">We offer a variety of workout programs tailored to your fitness goals. Whether you're looking to build muscle, lose weight, or improve your overall health, our experienced trainers will guide you through effective workout routines.</p>
                </div>
                
            </div>
        </div>
        
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn.cdnparenting.com/articles/2018/12/05161926/590825882-H-1024x700.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diet Plans</h5>
                    <p class="card-text">Achieving your fitness goals goes beyond just exercise. Our nutrition experts provide personalized diet plans to complement your workouts and help you achieve the results you desire.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://t4.ftcdn.net/jpg/03/33/91/97/360_F_333919715_R1mDUWPgwB2CRvSCNnvnmtn64gPY40ZL.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Personal Training</h5>
                    <p class="card-text">Maximize your workout results with personalized training sessions led by our certified trainers. Whether you're new to fitness or looking to push your limits, our trainers will design a program tailored to your needs and goals.</p>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>

</body>
</html>
